<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>NNTS Application</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <!-- <script src="../static/js/bootstrap-datetimepicker.js"></script> -->
    <script src="js/datetimepicker.js"></script>
    <script src="js/datetimepicker.templates.js"></script>
    <script src="js/incident.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/bootstrap-min.css"/>
    <!-- <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.css" /> -->
    <link rel="stylesheet" href="css/datetimepicker.css"/>
</head>


<body ng-app="incidentApp">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class=" navbar-header">
            <a class="navbar-brand" href="#!menu">National Transfer System (NNTS)</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span th:text="${session.loggedInUser}"></span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sign-out"></i> Signout 
                    <span class="caret"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div ng-view=""></div>
</body>
</html>