<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<title>National Transfer System (NNTS)</title>
<link rel="stylesheet" href="css/main.css" type="text/css" />
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body id="login">
	<form class="glass down" id="login-form" action="doLogin" method="post">
		<header class="form-lead">
		<h1>National Transfer System (NNTS)</h1>
		<h2 class="pls">Please login</h2>
		</header>
		<fieldset>
			<div class="field-group">
				<label for="login-login">Username: <input type="text"
					id="login-login" name="username" path="username" value=""
					autofocus="autofocus" placeholder="Your username" /></label>
			</div>
			<div class="field-group">
				<label for="login-password">Password: <input
					id="login-password" name="password" type="password" path="password"
					placeholder="Your password" /></label>
			</div>
			<footer>
				<div class="field-group">
					<button class="btn-flat" type="submit" name="button1"
						id="loginform_button1">Login</button>
				</div>
				<div class="other-links">
					<p>
						<a href="#">Forgot your password?</a>
					</p>
					<p>
						Don't have an account? <a href="#">Sign up!</a>
					</p>
				</div>
			</footer>
		</fieldset>
	</form>
</body>
</html>