    <div class="container content-area">
        <div class="col-sm-12">
            <div class="row">
                <h1>Reporting an Incident</h1>

                <!-- Form -->
                <div class="row">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>General Information</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Referring Center</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Name of the Baby</label>
                                  <div class="col-lg-9">
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>

                                <div class="line line-dashed b-b line-lg"></div>


                                <div class="form-group">
                                  <label class="col-sm-3 control-label">Sex</label>
                                  <div class="col-sm-9">

                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked/>
                                        Male
                                      </label>
                                    </div>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"/>
                                        Female
                                      </label>
                                    </div>
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"/>
                                        Undefined
                                      </label>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Telephone Number</label>
                                  <div class="col-lg-9">
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Baby's Blood Group</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Mother's Blood Group</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="col-sm-6">

                        <!-- Heading -->
                        <h3>&nbsp;</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">
                                
                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Receiving Center</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Gestational Age</label>
                                  <div class="col-lg-4">
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Name of Mother</label>
                                  <div class="col-lg-9">
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Permanent Address</label>
                                  <div class="col-lg-9">
                                    <textarea name="" id="" class="form-control" rows="5"></textarea>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Consent for transfer</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Name</label>
                                  <div class="col-lg-9">
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Relationship</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Indication for transfer</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Indication for transfer</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Name</label>
                                  <div class="col-lg-9">
                                    <textarea name="" id="" class="form-control" rows="5"></textarea>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Suggested plan by referring consultant</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Suggested plan</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label"></label>
                                  <div class="col-lg-9">
                                    <textarea name="" id="" class="form-control" rows="5"></textarea>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->


                <div class="line line-dashed b-b line-lg"></div>


                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Management summary at referring hospital</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Parity</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-3 control-label">Type of Delivery</label>
                                  <div class="col-sm-9">
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="option1"/> NVD
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="option2"/> Forceps
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="option3"/> Vaccum
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="option3"/> LSPS
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="option3"/> Em
                                    </label>
                                    <label class="checkbox-inline">
                                      <input type="checkbox" value="option3"/> Elec
                                    </label>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Antenatal Complications</label>
                                  <div class="col-lg-9">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-5 control-label">Date and time of Birth (yyyy-mm-dd hh:mm:ss</label>
                                  <div class="col-sm-7">
                                    <div class="dropdown">
                                      <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                          <div class="input-group">
                                            <input type="text" class="form-control" value="{{ data.date | date:'yyyy-MM-dd HH:mm' }}"/>
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                          </div>
                                      </a>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                          <datetimepicker data-ng-model="data.date"></datetimepicker>
                                      </ul>
                                    </div>                                    
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Place of Birth</label>
                                  <div class="col-lg-7">
                                    <input type="text" class="form-control" />
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-5 control-label">IV Dexamethasone First : (yyyy-mm-dd hh:mm:ss)</label>
                                  <div class="col-sm-7">

                                    <div class="dropdown">
                                      <a class="dropdown-toggle" id="dLabel2" role="button" data-toggle="dropdown" data-target="#" href="">
                                          <div class="input-group">
                                            <input type="text" class="form-control" value="{{ data.date2 | date:'yyyy-MM-dd HH:mm' }}"/>
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                          </div>
                                      </a>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel2">
                                          <datetimepicker data-ng-model="data.date2"></datetimepicker>
                                      </ul>
                                    </div>   

                                  </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="row">
                      <div class="col-sm-6">

                          <!-- Heading -->
                          <h3>&nbsp;</h3><!-- // Heading -->

                          <div class="panel panel-default">
                              <div class="panel-body m-t-md m-b-md">
                                <div class="bs-example form-horizontal ng-pristine ng-valid">
                                  
                                  <div class="form-group">
                                    <label class="col-lg-3 control-label">Risk Factor for sepsis</label>
                                    <div class="col-lg-9">
                                      <select name="account" class="form-control">
                                          <option value="option 1">option 1</option>
                                          <option value="option 2">option 2</option>
                                          <option value="option 3">option 3</option>
                                          <option value="option 4">option 4</option>
                                      </select>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label class="col-lg-3 control-label">Birth Weight(g)</label>
                                    <div class="col-lg-9">
                                      <input type="text" class="form-control" />
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label class="col-sm-5 control-label">EDD (yyyy-mm-dd hh:mm:ss)</label>
                                    <div class="col-sm-7">

                                      <div class="dropdown">
                                        <a class="dropdown-toggle" id="dLabel3" role="button" data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-group">
                                              <input type="text" class="form-control" value="{{ data.date3 | date:'yyyy-MM-dd HH:mm' }}"/>
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel3">
                                            <datetimepicker data-ng-model="data.date3"></datetimepicker>
                                        </ul>
                                      </div> 

                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label class="col-sm-5 control-label">Second (yyyy-mm-dd hh:mm:ss)</label>
                                    <div class="col-sm-7">

                                      <div class="dropdown">
                                        <a class="dropdown-toggle" id="dLabel4" role="button" data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-group">
                                              <input type="text" class="form-control" value="{{ data.date4 | date:'yyyy-MM-dd HH:mm' }}"/>
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel4">
                                            <datetimepicker data-ng-model="data.date4"></datetimepicker>
                                        </ul>
                                      </div>                                     
                                    
                                    </div>
                                  </div>

                                </div>
                              </div>
                          </div>
                      </div>
                    </div>

                </div><!-- // Form -->


                <div class="line line-dashed b-b line-lg"></div>


                <!-- Form -->
                <div class="row">
                  <div class="col-sm-6 m-t-lg">

                    <div class="row">

                        <!-- Heading -->
                        <h3>Resuscitation notes - Airway opening maneuvers</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Indication for intervention</label>
                                  <div class="col-lg-7">
                                    <select name="account" class="form-control">
                                        <option value="option 1">option 1</option>
                                        <option value="option 2">option 2</option>
                                        <option value="option 3">option 3</option>
                                        <option value="option 4">option 4</option>
                                    </select>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
                </div><!-- // Form -->
        </div>
        
        
        <div class="row m-b-xxl">
          <div class="col-md-12">
            <button class='btn1' type="button" ng-click="addRecord()">Save Incident</button>
          </div>
        </div>
    </div>