<div class="container content-area">
    <div class="row">
        <div class="col-sm-12">

            <h1>Reported incidents</h1>

            <div class="panel panel-default">
              <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th class="text-center">Referring Center</th>
                      <th class="text-center">Recieving Center</th>
                      <th class="text-center">Name of baby</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Idrawfast</td>
                      <td>4c</td>
                      <td>Bill Gates</td>
                    </tr>
                    <tr>
                      <td>Formasa</td>
                      <td>8c</td>
                      <td>Jane Doe</td>
                    </tr>
                    <tr>
                      <td>Avatar system</td>
                      <td>15c</td>
                      <td>John Doe</td>
                    </tr>
                    <tr>
                      <td>Throwdown</td>
                      <td>4c</td>
                      <td>Sam morris</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <footer class="panel-footer">
                <div class="row">
                  <div class="col-sm-4 text-left">
                    <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                  </div>
                  <div class="col-sm-4 text-right text-center-xs pull-right">                
                    <ul class="pagination pagination-sm m-t-none m-b-none pull-right">
                      <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                      <li><a href="">1</a></li>
                      <li><a href="">2</a></li>
                      <li><a href="">3</a></li>
                      <li><a href="">4</a></li>
                      <li><a href="">5</a></li>
                      <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                  </div>
                </div>
              </footer>
            </div>

        </div>


        <div class="col-sm-12">
            <a href="#!incident/0" class="btn btn-info">Create New </a>
        </div>
    </div>
</div>