    <div class="container data-view-page content-area">
        <div class="col-sm-12">
            <div class="row">
                <h1>Reporting an Incident</h1>

                <!-- Form -->
                <div class="row">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>General Information</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Referring Center</label>
                                  <div class="col-lg-8">
                                    <p>Kandy General Hospital</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Name of the Baby</label>
                                  <div class="col-lg-8">
                                    <p>Kasun Harshana Peiris</p>
                                  </div>
                                </div>

                                <div class="line line-dashed b-b line-lg pull-in"></div>


                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Sex</label>
                                  <div class="col-sm-8">

                                    <p>Male</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Telephone Number</label>
                                  <div class="col-lg-8">
                                    <p>+94 777 456 789</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Baby's Blood Group</label>
                                  <div class="col-lg-8">
                                    <p>AB+</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Mother's Blood Group</label>
                                  <div class="col-lg-8">
                                    <p>AB+</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="col-sm-6">

                        <!-- Heading -->
                        <h3>&nbsp;</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">
                                
                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Receiving Center</label>
                                  <div class="col-lg-9">
                                    <p>Colombo General Hospital</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Gestational Age</label>
                                  <div class="col-lg-4">
                                    <p>10 Months</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Name of Mother</label>
                                  <div class="col-lg-9">
                                    <p>Jane joe</p>  
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-3 control-label">Permanent Address</label>
                                  <div class="col-lg-9">
                                    <p>No. 6985,<br>
                                    Lorem ipsum dolor sit amet,<br>
                                    consectetur adipisicing elit. <br>
                                    Facere, neque, quod. <br>
                                    Distinctio.<br></p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Consent for transfer</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Name</label>
                                  <div class="col-lg-8">
                                    <p>Ruwan Harshana peiris</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Relationship</label>
                                  <div class="col-lg-8">
                                    <p>Unknown</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Indication for transfer</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Indication for transfer</label>
                                  <div class="col-lg-8">
                                    <p>option 1</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Name</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Suggested plan by referring consultant</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Suggested plan</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label"></label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident ex optio inventore eaque nulla eum itaque minima voluptas, voluptatum deleniti rerum sint dignissimos eius. Enim nostrum officiis aspernatur alias, consequatur.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->


                <div class="line line-dashed b-b line-lg"></div>


                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Management summary at referring hospital</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Parity</label>
                                  <div class="col-lg-7">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-5 control-label">Type of Delivery</label>
                                  <div class="col-sm-7">
                                    <p>Lorem ipsum dolor sit.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Antenatal Complications</label>
                                  <div class="col-lg-7">
                                    <p>Lorem ipsum dolor sit amet, consectetur.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-5 control-label">Date and time of Birth (yyyy-mm-dd hh:mm:ss</label>
                                  <div class="col-sm-7">
                                    <p>2201-10-01 15:32:54</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Place of Birth</label>
                                  <div class="col-lg-7">
                                    <p>Colombo</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-5 control-label">IV Dexamethasone First : (yyyy-mm-dd hh:mm:ss)</label>
                                  <div class="col-sm-7">
                                    <p>2201-10-01 15:32:54</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div> 

                    <div class="col-sm-6">

                        <!-- Heading -->
                        <h3>&nbsp;</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">
                                
                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Risk Factor for sepsis</label>
                                  <div class="col-lg-7">
                                    <p>Lorem ipsum dolor.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Birth Weight(g)</label>
                                  <div class="col-lg-7">
                                    <p>08 Kg</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-5 control-label">EDD (yyyy-mm-dd hh:mm:ss)</label>
                                  <div class="col-sm-7">
                                    <p>2201-10-01 15:32:54</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-5 control-label">Second (yyyy-mm-dd hh:mm:ss)</label>
                                  <div class="col-sm-7">
                                    <p>2201-10-01 15:32:54</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->


                <div class="line line-dashed b-b line-lg"></div>


                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Resuscitation notes - Airway opening maneuvers</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Indication for intervention</label>
                                  <div class="col-lg-7">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->
        </div>
        
        
        <div class="row m-b-xxl">
            <button class='btn1' type="button">Back</button>
        </div>
        </div>
    </div>
    
   <!--  <script type="text/javascript">
         $(function () {
         $('#dob-picker').datetimepicker();
         $('#dexamethasone-picker').datetimepicker();
         $('#edd-picker').datetimepicker();
         $('#second-picker').datetimepicker();
        });
   </script> -->