<div class="container data-view-page content-area">
    <div class="col-sm-12">
        <div class="row">
            <h1>Presentation to the local hospital</h1>

            <!-- Form -->
            <div class="row">
                <div class="col-sm-6">

                    <div class="panel panel-default">
                        <div class="panel-body m-b-md">
                            <div class="bs-example ng-pristine ng-valid">
                                <div class="form-group">
                                  <label class="col-lg-5 control-label">Age at presentation (hours)</label>
                                  <div class="col-lg-5">
                                    <p>10 Hours</p>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- // Form -->

            <!-- Form -->
            <div class="row m-t-lg">
                <div class="col-sm-12">

                    <!-- Heading -->
                    <h3>Problems since birth</h3><!-- // Heading -->

                    <div class="panel panel-default">
                      <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                          <thead>
                            <tr>
                              <th class="text-center">Date</th>
                              <th class="text-center">Problem Identified</th>
                              <th class="text-center">Day of illness</th>
                              <th class="text-center">Action taken</th>
                              <th class="text-center">Day of Resolving</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>Bill Gates</td>
                              <td>Lorem ipsum.</td>
                              <td>2 hours</td>
                            </tr>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>Bill Gates</td>
                              <td>Lorem ipsum.</td>
                              <td>2 hours</td>
                            </tr>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>Bill Gates</td>
                              <td>Lorem ipsum.</td>
                              <td>2 hours</td>
                            </tr>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>Bill Gates</td>
                              <td>Lorem ipsum.</td>
                              <td>2 hours</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <footer class="panel-footer">
                        <div class="row">
                          <div class="col-sm-4 text-left">
                            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                          </div>
                        </div>
                      </footer>
                    </div>
                </div> 
            </div><!-- // Form -->


            <!-- Form -->
            <div class="row m-t-lg">
                <div class="col-sm-12">

                    <!-- Heading -->
                    <h3>Relevant Clinical Findings</h3><!-- // Heading -->

                    <div class="panel panel-default">
                        <div class="panel-body m-t m-b-md">
                          <div class="bs-example ng-pristine ng-valid">
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Finding type</label>
                              <div class="col-lg-5">
                                <p>Lorem ipsum dolor sit amet.</p>
                                <br />
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti officiis reiciendis et excepturi architecto numquam dicta facere quis expedita, repellendus ipsam a repellat? Consequatur consequuntur amet, earum delectus, in hic!</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div><!-- // Form -->


            <!-- Form -->
            <div class="row m-t-lg">
                <div class="col-sm-12">

                    <!-- Heading -->
                    <h3>Investigation finding at referring hospital (Please indicate the dates)</h3><!-- // Heading -->

                    <div class="panel panel-default">
                        <div class="panel-body m-t-md m-b-md">
                          <div class="bs-example ng-pristine ng-valid">
                            <div class="col-md-12 m-b-xl m-t-lg">
                              <label class="col-lg-2 control-label">Hematological</label>
                              <div class="col-lg-5">
                                <p>Lorem ipsum dolor sit amet.</p>
                                <br />
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti officiis reiciendis et excepturi architecto numquam dicta facere quis expedita, repellendus ipsam a repellat? Consequatur consequuntur amet, earum delectus, in hic!</p>
                              </div>
                            </div>

                            <div class="line line-dashed b-b line-lg"></div>
                            
                            <div class="col-md-12 m-b-xl m-t-lg">
                              <label class="col-lg-2 control-label">Finding type Microbiological</label>
                              <div class="col-lg-5">
                                <p>Lorem ipsum dolor sit amet.</p>
                                <br />
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti officiis reiciendis et excepturi architecto numquam dicta facere quis expedita, repellendus ipsam a repellat? Consequatur consequuntur amet, earum delectus, in hic!</p>
                              </div>
                            </div>

                            <div class="line line-dashed b-b line-lg"></div>

                            <div class="col-md-12 m-b-xl m-t-lg">
                              <label class="col-lg-2 control-label">Radiological investigation including Ultra Sound scans</label>
                              <div class="col-lg-5">
                                <p>Lorem ipsum dolor sit amet.</p>
                                <br />
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti officiis reiciendis et excepturi architecto numquam dicta facere quis expedita, repellendus ipsam a repellat? Consequatur consequuntur amet, earum delectus, in hic!</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div><!-- // Form -->

            <!-- Form -->
            <div class="row m-t-lg">
                <div class="col-sm-12">

                    <!-- Heading -->
                    <h3>Medications given at referring hospital</h3><!-- // Heading -->

                    <div class="panel panel-default">
                          <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                              <thead>
                                <tr>
                                  <th class="text-center">Antibiotics / Other medication</th>
                                  <th class="text-center">Dose and route</th>
                                  <th class="text-center">Frequency</th>
                                  <th class="text-center">Duration</th>
                                  <th class="text-center">Time of last dose</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Idrawfast</td>
                                  <td>4c</td>
                                  <td>Bill Gates</td>
                                  <td>Lorem ipsum.</td>
                                  <td>2 hours</td>
                                </tr>
                                <tr>
                                  <td>Idrawfast</td>
                                  <td>4c</td>
                                  <td>Bill Gates</td>
                                  <td>Lorem ipsum.</td>
                                  <td>2 hours</td>
                                </tr>
                                <tr>
                                  <td>Idrawfast</td>
                                  <td>4c</td>
                                  <td>Bill Gates</td>
                                  <td>Lorem ipsum.</td>
                                  <td>2 hours</td>
                                </tr>
                                <tr>
                                  <td>Idrawfast</td>
                                  <td>4c</td>
                                  <td>Bill Gates</td>
                                  <td>Lorem ipsum.</td>
                                  <td>2 hours</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <footer class="panel-footer">
                            <div class="row">
                              <div class="col-sm-4 text-left">
                                <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                              </div>
                            </div>
                          </footer>
                        </div>
                </div> 
            </div><!-- // Form -->

            <!-- Form -->
            <div class="row m-t-lg">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-body m-t m-b-md">
                            <div class="bs-example ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-sm-3 control-label">Who is accompanying baby</label>
                                  <div class="col-sm-9">
                                    <p>Lorem ipsum.</p>
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div> 
            </div><!-- // Form -->

        </div>

        <div class="row m-b-xxl">
            <button type="button" class='btn1'>Back</button>
        </div>
    </div>
</div>
