<div class="container data-view-page content-area">
    <div class="col-sm-12">
        <div class="row">
            <h1>Neonatal Transfer - Pre Departure Check List</h1>

            <!-- Form -->
            <div class="row m-t-lg">
                <div class="col-sm-12">

                    <!-- Heading -->
                    <h3>Handover at receiving unit</h3><!-- // Heading -->

                    <div class="panel panel-default">
                      <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                          <thead>
                            <tr>
                              <th class="text-center">Name</th>
                              <th class="text-center">Type</th>
                              <th class="text-center">Grade</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>AABB++</td>
                            </tr>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>AABB++</td>
                            </tr>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>AABB++</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <footer class="panel-footer">
                        <div class="row">
                          <div class="col-sm-4 text-left">
                            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                          </div>
                        </div>
                      </footer>
                    </div>
                </div> 
            </div><!-- // Form -->


                <div class="line line-dashed b-b line-lg"></div>


                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-12">

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Date and Time of departure (yyyy-mm-dd hh:mm:ss)</label>
                                  <div class="col-sm-8">
                                    <p>2201-10-01 15:32:54</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Accompanying Medical Officer</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Accompanying Nursing Officer</label>
                                  <div class="col-lg-8">
                                    <p>Consectetur adipisicing elit.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->


                <div class="line line-dashed b-b line-lg"></div>


                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Airway</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t m-b">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Neutral and patient airway maintained</label>
                                  <div class="col-sm-8">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Guedel Airway</label>
                                  <div class="col-sm-8">
                                    <p>No</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">ETT size</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor sit.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Lip Level</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-sm-6">
                    
                        <!-- Heading -->
                        <h3>&nbsp;</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t m-b">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">ETT anchored well</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">ETT in correct position in CXR</label>
                                  <div class="col-sm-6">
                                    <p>No</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Has stomach been emptied with NG tube</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Pneumothorax</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">ICT inserted and functioning well</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->


                <div class="line line-dashed b-b line-lg"></div>


                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Breathing</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t m-b">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Oxygen Deliver In Air</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Tight face mask</label>
                                  <div class="col-sm-6">
                                    <p>No</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Loose face mask</label>
                                  <div class="col-sm-6">
                                    <p>No</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Nasal prongs</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Head box</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">IPPV through face mask</label>
                                  <div class="col-sm-6">
                                    <p>No</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">IPPV through ETT</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">IPPV through Ventilator</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Chest expansion adequate</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Is air entry equal</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Last ABG Satisfactory</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-6 control-label">Cyanosis</label>
                                  <div class="col-sm-6">
                                   <p>Yes</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-sm-6">

                        <!-- Heading -->
                        <h3>&nbsp;</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t m-b">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Liters of oxygen /minute</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Assesment RR minute Recessions</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum laborum placeat molestiae voluptas. Ducimus quam placeat.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">pH</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">P<sub>a</sub>O<sub>2</sub></label>
                                  <div class="col-lg-8">
                                    <p>Consectetur adipisicing elit.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">HCO<sub>3</sub></label>
                                  <div class="col-lg-8">
                                    <p>Animi fugiat tenetur dolores.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Last SpO<sub>2</sub></label>
                                  <div class="col-lg-8">
                                    <p>Voluptatum molestiae modi repudiandae.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Circulation</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Number of IV lines</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">IV lines secured well</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Inotropic</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Fluid boluses 10 ml/kg</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor sit.</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Assesment</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Pulse rate</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Minute and volume is</label>
                                  <div class="col-sm-6">
                                    <p>Good</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">MAP (mmHg)</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">CRFT</label>
                                  <div class="col-sm-6">
                                    <p>Less Than 2</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Extremities</label>
                                  <div class="col-sm-6">
                                    <p>Warm</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">BM Stix (mmol /l)</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Skin colour</label>
                                  <div class="col-sm-6">
                                    <p>Mottled</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Disability</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Fits</label>
                                  <div class="col-sm-8">
                                    <p>Generalized</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Breathing Pattern</label>
                                  <div class="col-sm-8">
                                    <p>Cheyne-Stoked breathing</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Posture</label>
                                  <div class="col-sm-8">
                                    <p>Hypotonic</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->



                <div class="line line-dashed b-b line-lg"></div>



                <!-- Form -->
                <div class="row m-t-lg">
                
                    <div class="col-sm-6">
                        <!-- Heading -->
                        <h3>Temperature</h3><!-- // Heading -->

                        <div class="panel panel-default">
                            <div class="panel-body m-t-md m-b-md">
                              <div class="bs-example form-horizontal ng-pristine ng-valid">

                                <div class="form-group">
                                  <label class="col-lg-4 control-label">Axillary temperature</label>
                                  <div class="col-lg-8">
                                    <p>Lorem ipsum dolor.</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Rewarming done</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Plastic bags/ cups</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Kangaroo mother care</label>
                                  <div class="col-sm-6">
                                    <p>No</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Warm Blankets</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-sm-4 control-label">Hot water blankets</label>
                                  <div class="col-sm-6">
                                    <p>Yes</p>
                                  </div>
                                </div>

                              </div>
                            </div>
                        </div>
                    </div>

                </div><!-- // Form -->

            <!-- Form -->
            <div class="row m-t-lg">
                <div class="col-sm-12">

                    <!-- Heading -->
                    <h3>Handover at receiving unit</h3><!-- // Heading -->

                    <div class="panel panel-default">
                      <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                          <thead>
                            <tr>
                              <th class="text-center">Name</th>
                              <th class="text-center">Type</th>
                              <th class="text-center">Grade</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>AABB++</td>
                            </tr>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>AABB++</td>
                            </tr>
                            <tr>
                              <td>Idrawfast</td>
                              <td>4c</td>
                              <td>AABB++</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <footer class="panel-footer">
                        <div class="row">
                          <div class="col-sm-4 text-left">
                            <small class="text-muted inline m-t-sm m-b-sm">Showing 20-30 of 50 items</small>
                          </div>
                        </div>
                      </footer>
                    </div>

                </div> 
            </div><!-- // Form -->
        </div>

        <div class="row m-b-xxl m-t-xl">
            <button type="button" class='btn1'>Back</button>
        </div>
    </div>
</div>

<!-- 
<script type="text/javascript">
    $(function () {
        $('#departure-picker').datetimepicker();
    });
</script>
 -->
